<form [formGroup] = "connexionForm"  id="formconnexion">
	<fieldset id="fieldsetForm"> 
		<legend> Formulaire de connexion</legend>
	<input type="text" class="form-control" id="firstName" placeholder="Prenom" formControlName="firstName">
	<input type="text" class="form-control" id="lastName" placeholder="Nom" formControlName="lastName">
	<input type="text" class="form-control" id="phoneNumber" placeholder="Numéro Telephone" formControlName="phoneNumber">
	<input type="email" class="form-control" id="mail" placeholder="Mail" formControlName="mail">
	<input type="password" class="form-control" id="password" placeholder="Mot de passe" formControlName="password">
	
	<button type="submit"  class="btn btn-primary" >Envoyer</button>
</fieldset>
</form>

